@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* Resets */
  *{line-height:150%}
  br{line-height:100%}
  html, body{background-color:#f9f9f9;color:#484546;font-family:'Roboto', 'Helvetica Neue', sans-serif;font-weight:300;font-size:16px;height:100%;margin:0;padding:0;}
  a{color:#3D5BA9;text-decoration:none;}
  b, strong{font-weight:500;}
  
  img{max-width:100%;height:auto;}
  
  h1{margin:0;}
  h2,h3,h4,h5,h6{margin:2rem 0;}
  h1,h2,h3,h4,h5,h6,
  h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{line-height:120%;}
  
  hr{background-color:#cccccc;border:none;height:1px;margin:2em 0;}
  
  input[type="text"], input[type="password"], input[type="submit"], textarea{-webkit-appearance: none;}
  input, textarea{background-color:transparent;border:1px solid #ddd;font-family:inherit;font-size:inherit;box-sizing:border-box;padding:0.5rem 0.7rem !important;border-radius:4px;transition:0.2s all;}
  input:focus, textarea:focus{outline:none;border-color:#3D5BA9;box-shadow:0 0 5px rgba(61,91,169,0.5);}
  input[type="submit"]{cursor:pointer;background-color:#3D5BA9;color:#fff;}
  input:disabled{background-color:#eee !important;}
  ::-webkit-input-placeholder {color: inherit;opacity:0.5;}
  ::-moz-placeholder {color: inherit;opacity:0.5;}
  :-ms-input-placeholder {color: inherit;opacity:0.5;}
  :-moz-placeholder {color: inherit;opacity:0.5;}
  
  .select-container{overflow: hidden;position:relative;box-sizing:border-box;display:inline;}
  .select-container:before{display:none;font-family:'Font Awesome 5 Light';content:'\f107';}
  .select-container .fa-angle-down{color:#3D5BA9;font-size:24px;position:absolute;right:0.8rem;top:50%;margin-top:-7px;}
  .select-container select{color:#6C6C6C;cursor:pointer;border: none;background: none;font-family:inherit;font-size:20px;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0.5rem 30px 0.5rem 0;position:relative;z-index:10;font-weight:inherit;}
  .select-container select:focus{outline:none;}
  .select-container select::-ms-expand{display: none;}
  .select-container select option{background-color:#fff;color:#808080;}
  
  .nofloat{float:none;}
  
  .screen-reader-text{display:none;}
	.gform_ajax_spinner {border-left-color:#000000!important;}
  
/* Layout */
  .wrapper{margin:0 auto;width:930px;position:relative;}
  .placeholder{min-height:1px;}
  .row{margin-left:-30px;*zoom:1;}
  .row:before,
  .row:after{display:table;content:"";}
  .row:after{clear:both;}
  *[class*="span"]{float:left;margin-left:30px;}
  .span12 {width: 930px;}
  .span11 {width: 850px;}
  .span10 {width: 770px;}
  .span9 {width: 690px;}
  .span8 {width: 610px;}
  .span7 {width: 530px;}
  .span6 {width: 450px;}
  .span5 {width: 370px;}
  .span4 {width: 290px;}
  .span3 {width: 210px;}
  .span2 {width: 130px;}
  .span1 {width: 50px;}
  
  .visible-phone {display: none !important;}
  .visible-tablet {display: none !important;}
  .hidden-desktop {display: none !important;}
  
  @media (min-width: 1240px) {
    .wrapper{margin:0 auto;width:1160px;position:relative;}
    .row {margin-left: -40px;*zoom: 1;}
    .row:before,
    .row:after {display: table;content: "";}
    .row:after {clear: both;}
    [class*="span"] {float: left;margin-left: 40px;}
    .span12 {width: 1160px;}
    .span11 {width: 1060px;}
    .span10 {width: 960px;}
    .span9 {width: 860px;}
    .span8 {width: 760px;}
    .span7 {width: 660px;}
    .span6 {width: 560px;}
    .span5 {width: 460px;}
    .span4 {width: 360px;}
    .span3 {width: 260px;}
    .span2 {width: 160px;}
    .span1 {width: 60px;}
  }
  @media (min-width: 768px) and (max-width: 979px) {
    .visible-tablet {display: inherit !important;}
    .hidden-tablet {display: none !important;}
    .hidden-desktop {display: inherit !important;}
    .visible-desktop {display: none !important ;}
    .wrapper{width:714px;}
    .row {margin-left: -30px;*zoom: 1;}
    .row:before,
    .row:after {display: table;content: "";}
    .row:after {clear: both;}
    [class*="span"] {float: left;margin-left: 30px;}
    .span12 {width: 714px;}
    .span11 {width: 652px;}
    .span10 {width: 590px;}
    .span9 {width: 528px;}
    .span8 {width: 466px;}
    .span7 {width: 404px;}
    .span6 {width: 342px;}
    .span5 {width: 280px;}
    .span4 {width: 218px;}
    .span3 {width: 156px;}
    .span2 {width: 94px;}
    .span1 {width: 32px;}

  }
  @media (max-width: 767px) {
    .visible-phone {display: inherit !important;}
    .hidden-phone {display: none !important;}
    .hidden-desktop {display: inherit !important;}
    .visible-desktop {display: none !important;}
    .wrapper{width:90%;padding:0 5%}
    .row{margin-left: 0;}
    [class*="span"]{display: block;float: none;width: auto;margin-left: 0;}
  
    .phone-half {float:left;margin:0 3%;width: 44%;}
  }
  
/* Elements */
  .alignright{float:right; }
  .alignleft{float:left; }
  .aligncenter{display: block; margin-left: auto; margin-right: auto}
  
  img.alignright {margin:0 0 1em 1em}
  img.alignleft {margin:0 1em 1em 0}
  
  .center-text{text-align:center;}
  .left-text{text-align:left;}
  .right-text{text-align:right;}
  
  .embed-container{float:none;position: relative;padding-bottom: 56.25%;/* 16/9 ratio */height: 0;margin-bottom:1em;overflow: hidden;}
  .embed-container iframe,
  .embed-container object,
  .embed-container embed{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index:0;}
  
  h2{font-weight:300;font-size:32px;}
  h2 small{font-size:20px;}
  h2 img{float:left;}
  
  .vertical-center{height:100%;display:flex;flex-direction:column;justify-content:space-between;}
  .vertical-center:before,
  .vertical-center:after{content:'';display:block;}
  
  table{width:100%;border-collapse:collapse;}
  table tr{border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
  table td{padding:1rem;}
  
  
  
/* Header */
  #logo{height:16px;margin-right:3px;}
  
  #navbar {background-color:#fff;border-bottom:1px solid rgba(51, 49, 50, 0.2);padding:15px 0;transition:all 0.5s;}
  #navbar .wrapper{align-items:center;display:flex;flex-direction:row;justify-content:space-between;}
  #navbar .wrapper #logo .morning{fill:#484546;}
  #navbar .wrapper #logo .chalkup{fill:#3D5BA9;}
  #navbar .wrapper a{padding:0.5rem 0;}
  #navbar .wrapper > *{flex:auto;}
  #navbar .wrapper h1{font-size:22px;font-weight:200;}
  #navbar .wrapper .navleft{text-align:left;flex:auto;}
  #navbar .wrapper .navmid{text-align:center;flex:auto;}
  #navbar .wrapper .navright{text-align:right;}
  
  #menubtn{padding:0.5rem !important;}
  
  #menu{background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.1);position:absolute;opacity:0;pointer-events:none;right:0;transition:0.2s all;z-index:20;transform:scale(0.5);transform-origin:top right;min-width:200px;top:44px;}
  #menu.open{opacity:1;pointer-events:auto;transform:scale(1);}
  #menu > ul{list-style-type:none;margin:0;padding:0;}
  #menu > ul + ul{border-top:1px solid #eee;}
  #menu > ul > li{}
  #menu > ul > li a{display:block;padding:0.5rem 1rem !important;}
  #menu > ul > li a:hover{background-color:#3D5BA9;color:#fff;}
  
/* Footer */
  #footer{padding:2rem 0;}
  
/* Dashboard */
  .breadcrumb{margin:2rem 0;}
  
  #login{border:1px solid #3D5BA9;border-radius:6px;max-width:400px;margin:0 auto;padding:20px;}
  #login label{display:block;}
  #login input{width:100%;}
  #login label input{width:auto;}
  
  .error{background-color:red;color:#fff;padding:20px;border-radius:4px;}
  .error a{color:#fff;text-decoration:underline;}
  
  #reports a{display:block;}
  #reports img{vertical-align:middle;border-radius:15px;margin-right:10px;}
  
  h2 img{vertical-align:middle;border-radius:100%;margin-right:20px;}
  
  .num{color:#3D5BA9;font-size:42px;font-weight:100;}
  label{font-size:14px;color:#999;text-transform:uppercase;letter-spacing:0.1em;display:block;}
  
  .num-small{font-size:24px;}
  
  .preview{position:relative;height:450px;}
  .preview iframe{border:none;box-shadow:0 0 20px rgba(0,0,0,0.1);transform:scale(0.5);width:200%;transform-origin:0 0;}
  
  .ad-copy{background-color:#fff;box-shadow:0.5px 1px 5px rgba(0,0,0,0.05);padding:1rem 2rem;}
  
  table#reports td:first-child{padding-left:0;}
  table#reports td:last-child{padding-right:0;}
  
  table.fix {table-layout:fixed;}
  table.fix td:first-child{padding-left:0;}
  table.fix td:last-child{padding-right:0;}
  table.fix td.num{width:55px;}
  table.fix td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  
  .stats{margin-left:-1.5rem;}
  .stats .stat{display:inline-block;margin:0.5rem 1.5rem;}
  
  @media (max-width: 767px) {
    h2 img{width:60px;height:60px;display:block;float:none;}
    
    label{font-size:14px;}
    .num{font-size:32px;}
    .num-small{font-size:24px;}
    
    .stats{overflow:hidden;margin:0;}
    .stats .stat{display:block;float:left;width:50%;margin:0.5rem 0;}
  }
